* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: black;
  overflow-x: hidden;
}

.Nav {
  min-height: 4rem;
  max-width: 100vw;
}

.list {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.list-items {
  padding: 0px 60px;
}

.Link {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.container {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/fc164b4b-f085-44ee-bb7f-ec7df8539eff/955e84a0-6be6-482c-8d45-126279f53895/US-en-20230814-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-position: center center;
  background-size: cover;
  width: 100vw;
  margin-top: 10px;
  height: 90vh;
}

.home-section {
  position: relative;
  width: 100vw;
  min-height: 90vh;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  /* i will change the alpha of the background colr*/
}

.article {
  max-width: 100%;
  color: white;
  font-size: 2em;
  padding-top: 200px;
}

.home-form {
  padding-top: 2rem;
}

.home-form input {
  max-width: 100%;
  width: 300px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.home-form button {
  padding: 8px 4px;
  margin-left: 5px;
  background-color: rgb(218, 12, 12);
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.section-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  color: white;
  padding-top: 200px;
  margin: auto;
}

.article-two {
  width: 40vw;
}

.article-two h2 {
  padding-top: 10px;
  font-size: 3rem;
}

.article-two p {
  padding-top: 40px;
  font-size: 2rem;
}

.footer {
  width: 100vw;
  height: 20vh;
  background-color: black;
  margin-top: 200px;
  text-align: center;
  padding-top: 30px;
  color: white;
}
